<nav class='navbar navbar-expand-sm bg-light border border-bottom'>
    <div class='container-fluid d-flex justify-content-between pt-2'>
        <img src="srcs/logo.png" alt='Logo' width='48' height='48'>
        <ul class='navbar-nav'>
            <li class='nav-item pr-2'>
                <a href="{% url 'home:home' %}"><h6>Home</h6></a>
            </li>
            <li class='nav-item pr-2'>
                <a href="{% url 'home:pesquisa' %}"><h6>Pesquisar Pet</h6></a>
            </li>
            <li class='nav-item pr-2'>
                <h6>Terceiro Link</h6>
            </li>

        </ul>

    </div>
</nav>